{% load static %}

<footer>
    <div class="container">
        <div class="row py-5">
            <div class="col-md-2 border-end border-white">
                <img src="https://ummetvakfi.org/images/ummet-logo.png" alt="">
            </div>
            <div class="col-md-6 ps-md-5 mt-4 mt-md-0 wow slideInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                <h3>CONTACT US</h3>
                    <p class="py-3"><i class="fa fa-map-marker fs-4 pe-3"></i>Akşemsettin Mahallesi Sürreemini Sokak No:15 34080 - Fatih/İSTANBUL</p>
                    <p class="py-3"><i class="fa fa-envelope fs-4 pe-3"></i>media@ummetvakfi.org</p>
                    <p class="py-3"><i class="fa fa-whatsapp fs-4 pe-3"></i>+90 549 272 10 67</p>
                    <p class="py-3"><i class="fa fa-phone fs-4 pe-3"></i>(0212) 552 44 35</p>
            </div>
            <div class="col-md-4 mt-4 mt-md-0">
                <h3>SOcial MediA</h3>
                <div class="socials mt-3">
                    <a href="#" style="text-decoration: none;"><i class="fa fa-whatsapp fs-4 me-3"></i></a>
                    <a href="/"><i class="fa fa-instagram fs-4 me-3"></i></a>
                    <a href="/"><i class="fa fa-twitter fs-4 me-3"></i></a>
                    <a href="/"><i class="fa fa-youtube fs-4 me-3"></i></a>
                </div>
            </div>
        <div>
            <p class="text-secondary my-4">Ümmet Vakfı 2860 sayılı Yardım Toplama Kanununun 7. maddesi uyarınca T.C. İstanbul Valiliği İl Sivil Toplumla İlişkiler Müdürlüğü tarafından verilen 03/06/2021 tarih ve 56476 sayılı Olur’ları ile Yardım Toplama iznine sahiptir. 2860 sayılı Yardım Toplama Kanununun 8. 
                Maddesi gereğince T.C. İstanbul Valiliği İl Sivil Toplumla İlişkiler Müdürlüğü birimlerince denetlenmektedir.</p>
        </div>
    </div>
</footer>
<div class="copyright">
    <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center py-1">
        <small class="text-start text-white-50 fs-8 mb-0">Copyright © 2024 UMMET Vakfı. All rights reserved.</small>
        <small class="text-end text-white-50 fs-8 mb-0">Design by 🕷️</small>
    </div>
</div>

