{% extends 'main.html' %}
{% load static %}


{% block maincontent%}

<div class="hero-section bg-light d-flex align-items-center" style="min-height: 50vh;">
    <div class="container">
        <div class="row justify-content-center align-items-center mt-3 mt-lg-0">
            <!-- Text Column -->
            <div class="col-md-6 order-2 order-md-1 text-center text-md-start mb-4 mb-md-0 wow fadeInUp" data-wow-delay="0.2s">
                <h1 class="display-4 fw-bold p-text">Paying your zakat to Al-Quds</h1>
            </div>
            <!-- Image Column -->
            <div class="col-md-6 d-flex order-1 order-md-2 justify-content-center wow fadeInUp" data-wow-delay="0.4s">
                <img src="https://ummetvakfi.org/zakat/img/1.png" alt="Hero Image" class="img-fluid">
            </div>
        </div>
    </div>
</div>


<div class="d-flex align-items-center my-4">
    <div class="container">
        <div class="row justify-content-center align-items-center mt-3 mt-lg-0 wow fadeOutDown" data-wow-delay="0.4s">
            <div class="col-md-6 order-2 order-md-1">
                <h2 class="mb-3 p-text display-5 fw-bold">Double the blessing of your Zakat</h2>
                <p class="align-items-end">
                   Through giving to Al-Quds, you will receive the blessing of the holy place and the blessing of Zakat Al-Fter.
                </p>
            </div>
            <div class="col-md-6 order-1 order-md-2">
                <img src="https://ummetvakfi.org/zakat/img/2.png" alt="Zakat Image" class="img-fluid">
            
            </div>
        </div>
    </div>
</div>

<div class="d-flex align-items-center my-4 bg-light">
    <div class="container">
        <div class="row justify-content-center align-items-center mt-3 mt-lg-0 wow flipInX" data-wow-duration="1s" data-wow-delay="0.4s">
            <div class="col-md-6 order-2 order-md-1">
                <h2 class="mb-3 p-text display-5 fw-bold">Eight of Zakat yields mostly
                    in Al-Qud</h2>
            </div>
            <div class="col-md-6 order-1 order-md-2">
                <img src="https://ummetvakfi.org/zakat/img/3.png" alt="Zakat Image" class="img-fluid">
            
            </div>
        </div>
    </div>
</div>

<div class="d-flex align-items-center my-4">
    <div class="container">
        <div class="row justify-content-center align-items-center mt-3 mt-lg-0 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
            <div class="col-md-6 order-2 order-md-1">
                <h2 class="mb-3 p-text display-5 fw-bold">Hasten the zakat. It is necessary and important</h2>
                <p class="align-items-end">
                    It is permissible to hasten the zakat according to Sharia. The Prophet, peace be upon him, authorized Abbas to expedite zakat. According to Ali, the Prophet, peace be upon him, said to Umar: “We took al-Abbas’s zakat in the first year of the year.” 
                    Most of the scholars agreed that it is permissible to accelerate the zakat from one month to more than two years.
                </p>
            </div>
            <div class="col-md-6 order-1 order-md-2">
                <img src="https://ummetvakfi.org/zakat/img/6.png" alt="Zakat Image" class="img-fluid">
            
            </div>
        </div>
    </div>
</div>

<div class="d-flex align-items-center my-4 bg-light">
    <div class="container">
        <div class="row justify-content-center align-items-center mt-3 mt-lg-0 wow slideInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
            <div class="col-md-6 order-2 order-md-1">
                <h2 class="mb-3 p-text display-5 fw-bold">The need for zakat among the poor and needy in Al-Quds may be greater than the need of others</h2>
                <p class="align-items-end">
                    due to the occupation measures and the complications of the epidemic that has paralyzed the entire city, so meeting the needs of Al-Quds families becomes a necessity dictated by duty. 
                    Poverty rate before Corona is 80% Unemployment rate before Corona is 31%.
                </p>
            </div>
            <div class="col-md-6 order-1 order-md-2">
                <img src="https://ummetvakfi.org/zakat/img/7.png" alt="Zakat Image" class="img-fluid">
            
            </div>
        </div>
    </div>
</div>

<div class="d-flex align-items-center my-4">
    <div class="container">
        <div class="row justify-content-center align-items-center mt-3 mt-lg-0 wow flipInY" data-wow-duration="1s" data-wow-delay="0.5s">
            <div class="col-md-6 order-2 order-md-1">
                <h2 class="mb-3 p-text display-5 fw-bold">It is necessary to donate to Al-Quds"</h2>
                <p class="align-items-end">
                    Sheikh Ikrimah Sabri, Mufti of Al-Aqsa Mosque, issued a fatwa on the necessity of expediting zakat for Al-Quds people 
                    and the Old City due to the urgent need that has befallen the poor and needy because of the epidemic and the suffering of the city for more than 7 decades.
                </p>
            </div>
            <div class="col-md-6 order-1 order-md-2">
                <img src="https://ummetvakfi.org/zakat/img/8.png" alt="Zakat Image" class="img-fluid">
            
            </div>
        </div>
    </div>
</div>


{% endblock%}